.chatBot {
  border: 2px solid #FFFFFF;
  padding: 1em;
}

.display {
  width: 40em;
  height: 30em;
  border: solid;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0 1em;
  scroll-behavior: smooth;
  scroll-margin-block-end: 3px;
  background-color: #FFFFFF;
  border: 2px solid #8a2be2;
}

.submitMessage {
  display: flex;
  width: 40em;
  height: 2.5em;
  justify-content: space-between;
}

.inputMessage {
  width: 100%;
  padding: 0 1em;
  border: 2px solid #8a2be2;
  font-size: 16px;
  color: #8a2be2;
  outline: none;
}

.btnSendMessage {
  width: 6em;
  outline: none;
  border: 2px solid #8a2be2;
  background-color: #4dffa6;
  color: #8a2be2;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btnSendMessage:hover {
  background-color: #9affcd;
  transition: 0.5s;
}

.sendIcon {
  border: 2px solid #8a2be2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.userMessage {
  color: #8a2be2;
}

.botResponse {
  color: tomato;
}