.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8a2be2;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatBot {
  border: 2px solid #FFFFFF;
  padding: 1.5em;
}

.display {
  width: 40em;
  height: 30em;
  border: solid;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0 1em;
  scroll-behavior: smooth;
  scroll-margin-block-end: 3px;
  background-color: #FFFFFF;
  border: 1px solid #8a2be2;
}

.submitMessage {
  display: flex;
  width: 40em;
  height: 2em;
  justify-content: space-between;
}

.inputMessage {
  width: 100%;
  padding: 0 1em;
  border: 1px solid #8a2be2;
  font-size: 16px;
  color: #8a2be2;
  outline: none;
}

.sendIcon {
  border: solid #8a2be2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.btnSendMessage {
  width: 6em;
  border: 1px solid #8a2be2;
  background-color: #4dffa6;
  color: #8a2be2;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.userMessage {
  color: #8a2be2;
}

.botResponse {
  color: tomato;
}

.footer {
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 12px;
}

.footer span {
  color: #4dffa6;
}